{% macro render_catvideo(video) %}
<a href="javascript:void(0);" class="video-item" data-video-id="{{ video.get('video_id') }}" data-name="{{ video.get('video_title') }}" data-score="{{ '%.1f' % video.video_score }}" data-cover="{{ video.video_cover }}" data-runtime="{{ video.video_duration }}" data-year="">
    <img class="lazy-pic" data-pic="{{ video.get('video_cover') }}" src="{{ url_for('static', filename='dist/images/holder.png') }}">
    <div class="title">{{ video.get('video_title') }}</div>
    <div class="info">{{ video.get('video_description') }}</div>
    <div class="score">{{ '%.1f' % (video.get('video_score', 0)/10) }}&nbsp分</div>
</a>
{% endmacro %}